/* Witte Content container onder de header */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 60px auto;
    padding: 40px;
    background: #fff;
    border-radius: 16px;
}

.subtitle {
    width: 50%;
    text-align: left;
    color: #1c1c1c;
}

.hero-content h2 {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    line-height: 1.5;
}